{% extends 'blog/basic.html' %}
{% block body %}
<div class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">Welcome Post</h1>
            <p class="lead my-3">Welcome To My Blog This Blog is For My MyShop Site Which is a e commerce store. you can buy and look things in my e commerce website.</p>
            <p class="lead mb-0"><a href="/shop/about/" class="text-white fw-bold">Read More About Us...</a></p>
        </div>
    </div>


  <div class="row mb-2">
    {% for post in posts %}
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">{{post.title}}</strong>
                    <h3 class="mb-0">{{post.heading0}}</h3>
                    <div class="mb-1 text-muted">{{post.post_date}}</div>
                    <p class="card-text mb-auto">{{post.content_heading0|slice:":30"}}...</p>
                    <a href="blogpost/{{post.blog_id}}" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="/media/{{post.thumbnail}}" class="bd-placeholder-img" width="200" height="250"></img>
                </div>
            </div>
        </div>
            {% if forloop.counter|divisibleby:2 %}
        </div>
    <div class="row mb-2">
      {% endif %}
{% endfor %}



</div>
{% endblock %}